<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Heart</title>
    <link rel="icon" type="image/x-icon" href="./images/Heart.png">
</head>
<body>
    <header>
        <h1>Health Heart Prediction Model - Results</h1>
    </header>
    <main>
        <form action="http://192.168.1.11:5000/predict" method="POST">
            <div class="image">
                <img class="positive" src="/templates/images/sorriso.png" alt="">
            </div>
            <div class="results">
                <h2>Warninng! Call your doctor and make an appointment!</h2>
            </div>
        </form>
    </main>
    <footer>
        <p>Desenvolvido por <a target =" _blank " href =" https://github.com/isaqueLira ">@isaqueLira</a></p>
    </footer>
</body>
</html>